<div class="container-fluid p-4">
    <div class="row">
        <div class="col">
            <h5>Dashboard</h5>
        </div>
        <div class="col text-right"><a href="javascript:void(0)" id="logoutlink">logout</a></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header font-weight-bold" id="nickname">username</div>
                <div class="card-body p-2">
                    <div class="row m-3">
                        <div class="col" style="max-width: 200px;">Public Address</div>
                        <div class="col" id="pubkey">...</div>
                    </div>
                    <div class="row m-3">
                        <div class="col">Total Coin</div>
                        <div class="col" id="totalcoin">...</div>
                    </div>
                    <div class="row m-3">
                        <div class="col">Disk Space</div>
                        <div class="col" id="diskspace">...</div>
                    </div>
                    <div class="row m-3">
                        <div class="col">Online Clients</div>
                        <div class="col" id="onlineclient">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col">
        <br>
        <h5>Transactions</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav class="nav nav-pills nav-justified">
                <button class="nav-link active" id="coin-tab" data-bs-toggle="tab" href="#feed" role="tab"
                    data-bs-target="#coinview" aria-controls="coinview">
                    <h5>Coin</h5>
                </button>
                <button class="nav-link" id="nft-tab" data-bs-toggle="tab" role="tab" data-bs-target="#nftview"
                    aria-controls="nftview">
                    <h5>NFTs</h5>
                </button>
                <!--<a class="nav-item nav-link" id="market-tab" data-toggle="tab" href="#market" role="tab" aria-controls="market" href="#"><h5>Market</h5></a>-->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="coinview" role="tabpanel" aria-labelledby="coin-tab">
                    todo: coin
                </div>
                <div class="tab-pane fade" id="nftview" role="tabpanel" aria-labelledby="nft-tab">
                    todo: nft
                </div>
            </div>
        </div>
    </div>
</div>
