<div class="container-sm my-3 h-100">
    <div class="row division-line">
        <div class="col">
            <h4>Ghost Script</h4>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <div class="card">
                <div class="card-header font-weight-bold">Script List</div>
                <div class="card-body p-2" id="scriptlist">
                    <div class="row mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <form action="" method="post">
                <textarea id="gscript_editor" style="height: 400px; width: 100%">hello ghost world</textarea>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <button class="btn btn-outline-primary" type="button" id="registerBtn"
            onclick="document.getElementById('blackbox').innerHTML = editAreaLoader.getValue('gscript_editor')">
                Register</button>
        </div>
    </div>
    <div class="row">
        <div class="col m-2 text-center" id="result">
        </div>
    </div>
    <div class="row">
        <div class="col m-2 text-center" style="visibility:hidden;" id="blackbox">
        </div>
    </div>
</div>
