<br><br>
<h1 class="text-center font-weight-bold">Ghost Studio</h1>
<pre class="text-center" id="revision_info"></pre>
<br>
<div class="container my-3">
    <div class="row">
        <div class="col text-center" id="selectMaster"></div>
    </div>
    <div class="row">
        <div class="col m-2 text-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Master Nodes
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="masterlist">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="card">
                <div class="card-header font-weight-bold">Local GhostNet</div>
                <div class="card-body p-2">
                    <div class="row m-3 text-center" id="checkfile">
                    </div>
                    <div class="row m-3 text-center" id="startbtn">
                        <button type="submit" id="downloadBtn" class="btn btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-2"></div>
    </div>
    <!--
    <div class="row">
        <div class="col-2"></div>
        <div class="col text-center">
            <button id="remoteBtn" class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                원격 접속하기
            </button>
            <br> <br>

            <div class="card" id="remoteLayer">
                <div class="card-body p-2">

                    <div class="row m-3">
                        <label for="inputIp" class="col-sm-3 col-form-label">IP Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputIp" placeholder="http://">
                        </div>
                    </div>
                    <div class="row m-3 text-center" id="connectResult">
                    </div>
                    <div class="row m-3">
                        <button type="submit" id="connectBtn" class="btn btn-primary">Connect</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-2"></div>
    </div>-->
</div>
</div>